body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --body-medium-medium: Inter;
  --font-abhaya-libre-medium: "Abhaya Libre Medium";
  --font-abhaya-libre-extrabold: "Abhaya Libre ExtraBold";
  --font-abhaya-libre: "Abhaya Libre";
  --font-abel: Abel;

  /* font sizes */
  --body-medium-medium-size: 1rem;
  --font-size-21xl: 2.5rem;
  --font-size-13xl: 2rem;
  --font-size-5xl: 1.5rem;
  --font-size-51xl: 4.375rem;
  --font-size-37xl: 3.5rem;
  --font-size-23xl: 2.625rem;
  --font-size-sm: 0.875rem;
  --font-size-xl: 1.25rem;
  --font-size-lgi: 1.188rem;
  --font-size-6xl: 1.563rem;
  --font-size-31xl: 3.125rem;
  --font-size-11xl: 1.875rem;
  --font-size-xs: 0.75rem;

  /* Colors */
  --main-color-white: #fff;
  --main-color-primary: #3981f7;
  --additional-colors-green-tint: #effbf2;
  --additional-colors-green: #30c559;
  --color-limegreen-100: rgba(48, 197, 89, 0.7);
  --greyscale-grey-2001: #e4e7ec;
  --greyscale-grey-200: #e4e4e7;
  --action-green-green-100: #0aaf60;
  --action-green-green-40: #9ddfbf;
  --action-green-green-60: #6ccfa0;
  --color-aliceblue: #ebf3fe;
  --color-black: #000;
  --greyscale-grey-50: #fafafa;
  --greyscale-grey-900: #15191e;
  --main-color-black: #0a112f;
  --color-dimgray-100: #707278;
  --greyscale-grey-500: #70707a;
  --greyscale-grey-600: #585860;
  --greyscale-grey-400: #9096a2;
  --action-purple-purple-40: #c3b5fd;
  --action-light-blue-light-blue-100: #51c6fb;
  --greyscale-grey-100: #f4f4f5;

  /* Gaps */
  --gap-77xl-5: 6.031rem;
  --gap-29xl: 3rem;
  --gap-5xl: 1.5rem;
  --gap-36xl: 3.438rem;
  --gap-50xl: 4.313rem;
  --gap-15xl: 2.125rem;
  --gap-mid: 1.063rem;
  --gap-21xl: 2.5rem;
  --gap-xl: 1.25rem;
  --gap-5xs: 0.5rem;
  --gap-16xl-4: 2.213rem;
  --gap-lg: 1.125rem;
  --gap-xs: 0.75rem;
  --gap-12xs: 0.063rem;
  --gap-6xs: 0.438rem;
  --gap-9xs: 0.25rem;
  --gap-5xs-8: 0.488rem;
  --gap-37xl: 3.5rem;
  --gap-9xl: 1.75rem;
  --gap-base: 1rem;

  /* Paddings */
  --padding-xl: 1.25rem;
  --padding-10xl: 1.813rem;
  --padding-5xl: 1.5rem;
  --padding-5xs: 0.5rem;
  --padding-4xl: 1.438rem;
  --padding-39xl: 3.625rem;
  --padding-39xl-5: 3.656rem;
  --padding-8xs: 0.313rem;
  --padding-base: 1rem;
  --padding-mid: 1.063rem;
  --padding-mini: 0.938rem;
  --padding-27xl: 2.875rem;
  --padding-13xl: 2rem;
  --padding-3xs: 0.625rem;
  --padding-2xl: 1.313rem;
  --padding-433xl: 28.25rem;
  --padding-275xl: 18.375rem;
  --padding-xs: 0.75rem;

  /* Border radiuses */
  --br-base: 16px;
  --br-81xl: 100px;
  --br-xs: 12px;
  --br-5xs: 8px;
}